<html>
<head><title>Video :D</title>???</head>
<form action="/" method="get">
				<input type="text" id="summoner" name="summoner" placeholder="Summoner Name">
			</form>
<style>
* {
  font-family:arial;
  color:white;
}
</style>
<body bgcolor="#424242">

  {{{ body }}}
</body>
</html>